.grid {
    display: grid;
    /* définit les noms des lignes et les fonctions de taille pour les colonnes de la grille.*/
    grid-template-columns: repeat(12, 1fr);

  /* définit les noms des lignes et les fonctions de taille pour les lignes de la grille */
    grid-template-rows: repeat(5, auto);

    /* définit exactement comme les objets placés automatiquement s'inscrivent dans la grille. */
    grid-auto-flow: row;


    /* définir les espaces entre les lignes et entre les colonnes d'une grille. */
    grid-gap: 20px;
    margin: 32px;
}

@media screen and (min-width: 841px) {
  nav {
    grid-row-start: 1;
    grid-column-end: span 12;
}

.presentation{
    width: 100%;
    height: 11rem;
    grid-row-start: 2;
    grid-column-end: span 6;
    color: white;
    font-family: sans-serif;

}

.bonjour{
   width: 100%;
    height:10rem;
    grid-row-start: 2;
    grid-column-start: 10;
    grid-column-end: span 3;
    font-size: 1.3em;
    color: white;
    font-family: monospace;

}

.assets{
   width: 100%;
    height: 18rem;
    grid-row-start: 3;
    grid-column-start: 4;
    grid-column-end: span 4;
    font-family: cursive;
}
.profil{
    width: 100%;
    height: 32rem;
    grid-row-start: 3;
    grid-row-end: span 2;
    grid-column-start: 8;
    grid-column-end: span 5;
}

}


/*///// CONTACT ////*/
.bloc-contact{
    height: 13rem;
    width: 20rem;
}

.phone{
    grid-column: 3;
}


.net{
    grid-column: 9;
}
